<!DOCTYPE html>
<html>
<body>

<form>
  <input type="radio" id="admin" name="name" value="ADMIN">
  <label for="admin">ADMIN</label><br>
  <input type="radio" id="accountant" name="name" value="ACCOUNTANT">
  <label for="accountant">ACCOUNTANT</label><br><br>
  
</form>
  
  <form action="action_page.php" method="post">
  
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <br>
    
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
     <br>
    <br>
    <button type="submit">Login</button>
 
  </div>
</form>
</body>
</html>